<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zed.topic.search.core.mapper.PaperMapper">
  <resultMap id="BaseResultMap" type="com.zed.topic.search.core.pojo.Paper">
    <!--@mbg.generated generated on Tue Apr 28 21:20:29 CST 2020.-->
    <!--@Table paper-->
    <id column="filecode" jdbcType="VARCHAR" property="filecode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="db" jdbcType="VARCHAR" property="db" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="ref" jdbcType="INTEGER" property="ref" />
    <result column="downloads" jdbcType="INTEGER" property="downloads" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Apr 28 21:20:29 CST 2020.-->
    filecode, `name`, summary, author, `source`, db, `date`, `ref`, downloads
  </sql>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated generated on Tue Apr 28 21:20:29 CST 2020.-->
    insert into paper
    (filecode, `name`, summary, author, `source`, db, `date`, `ref`, downloads)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.filecode,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.summary,jdbcType=VARCHAR}, 
        #{item.author,jdbcType=VARCHAR}, #{item.source,jdbcType=VARCHAR}, #{item.db,jdbcType=VARCHAR}, 
        #{item.date,jdbcType=VARCHAR}, #{item.ref,jdbcType=INTEGER}, #{item.downloads,jdbcType=INTEGER}
        )
    </foreach>
  </insert>
</mapper>